body {
    background-color: azure;
    font-family: 'Rubik', sans-serif;
}

.typeSelCard{
    list-style: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 12px;
    height: 45px;
    width: 140px;
}

.typeSelCard.active{
    padding: 5px;
    border: 5px solid black;
    height: 45px;
    width: 140px;
}

.typeSelCard.learning{
    padding: 5px;
    border: 5px solid red;
    height: 45px;
    width: 140px;
}

.selectedTypeCard{
    list-style: none;
    padding: 1px;
    background-color: rgb(201, 152, 88);
    height: 60px;
    width: 150px;
    border-radius: 12px;
    overflow: clip;
    overflow-clip-margin: 35px;
}

.evoButtonCard{
    list-style: none;
    padding: 10px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 30px;
    width: 125px;
    border-radius: 12px;
}

.evoButtonFont{
    font-size: 16px;
    font-weight: heavy;
    margin-top: -2px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.calcCard{
    padding: 10px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 40px;
    width: 140px;
    border-radius: 12px;
    border: 1px solid black;
}

.calcFont{
    font-size: 18px;
    margin-top: 0px;
    font-weight: heavy;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.currentMovesetCard{
    padding: 10px;
    background-color: rgb(143, 134, 123);
    color: #222;
    height: 40px;
    width: 130px;
    border-radius: 12px;
    margin-left: 10px;
}

.currentMovesetFont{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: heavy;
    margin-top: 0px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.learningMoveCard{
    list-style: none;
    padding: 10px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 40px;
    width: 150px;
    border-radius: 12px;
    border: 1px solid black;
}

.learningMoveCard.active{
    border: 5px solid red;
}

.learningMoveFont{
    font-size: 18px;
    margin-top: 0px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.checkOptionsCard{
    list-style: none;
    padding: 10px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 30px;
    width: 120px;
    border-radius: 12px;
    border: 1px solid black;
}

.checkOptionsFont{
    font-size: 18px;
    margin-top: 5px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.sketchCard{
    list-style: none;
    padding: 10px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 35px;
    width: 160px;
    border-radius: 12px;
    border: 1px solid black;
    position: relative;
    right: 20px;
    overflow: clip;
    overflow-clip-margin: 15px;
}

.sketchFont{
    margin-right: -35px;
    font-size: 20px;
    margin-top: 7px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black; 
}

.genSelCard{
    list-style: none;
    padding: 1px;
    background-color: rgb(201, 152, 88);
    height: 40px;
    width: 150px;
    border-radius: 12px;
}

.genSelCard.active{
    background-color: rgb(37, 119, 26);
}

.resultsCard{
    display: grid;
    list-style: none;
    background-color: rgb(143, 134, 123);
    color: #222;
    padding: 5px;
    border-radius: 12px;

    height: 40px;
    width: 160px;
    
}

.numResultsCard{
    background-color: rgb(143, 134, 123);
    color: #222;
    height: 40px;
    width: 1100px;
    padding: 1px;
    margin: auto;
    position: relative;
    border-radius: 12px;
}

.unownQCard{
    background-color: rgb(201, 152, 88);
    height: 70px;
    width: 70px;
    border-radius: 12px;
}

#wrapper{
    float: right;
    width: 200px;
}

.comboResultsCard{
    background-color: rgba(143, 134, 123, .7);
    color: #222;
    height: 70px;
    width: 220px;
    padding: 0px;
    display: inline-block;
    border-radius: 12px;
}

.numResultsBlankCard{
    display: grid;
    background-color: white;
    color: white;
    height: 30px;
    padding: 1px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    clear: both;
}

.displayMonsCard{
    padding: 5px;
    color: #222;
    
    height: 80px;
    width: 80px;
    padding-inline-start: 0;
    display: inline-block;
}

.card-title{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
}

.selTypeFont{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: heavy;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.movesetFont{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: heavy;
    margin-top: 18px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.genSelFont{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: heavy;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.resultsFont{
    margin-top: 24px;
    margin-left: 40px;
    font-size: 19px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.numResultsFont{
    margin-top: 10px;;
    font-size: 19px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

#pokecalc{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(9, 2fr);
    grid-gap: 30px;
    scale: .97;
}

#selectedtypes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-gap: 70px;
    scale: .95;
}

#genSelect{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 20px;
    scale: .9;
}

#results{
    padding-inline-start: 0;
    display: list;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.container{
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 0px;
}

.card-image{
    width: 75%;
}

#brightmode{
    padding-inline-start: 0;
    display: flex;
    grid-template-columns: repeat(auto-fit, 80px);
}

.modeCard{
    background-color: rgb(143, 134, 123);
    color: #222;
    height: 95px;
    width: 95px;
    padding: 1px;
    border-radius: 12px;
}

.modeFont{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: heavy;
    margin-top: 0px;
}

.explainCard{
    padding: 10px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 300px;
    width: 1000px;
    border-radius: 12px;
    margin: auto;
    position: relative;
    top: 20px;
}

.explainCardFont{
    font-size: 24px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

*{
    text-align:center;
    justify-content: center;
    align-items: center;
}