body {
    background-color: azure;
    font-family: 'Rubik', sans-serif;
}

.typeSelCard{
    list-style: none;
    padding: 5px;
    color: #ffffff;
    border-radius: 12px;
    height: 50px;
    width: 150px;
}

.typeSelCard.active{
    padding: 0px;
    border: 5px solid black;
}

.typeSelCard.learning{
    padding: 0px;
    border: 5px solid red;
}

.selTypeFont{
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: heavy;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.selectedTypeCard{
    list-style: none;
    padding: 1px;
    background-color: gray;
    height: 50px;
    width: 160px;
    border-radius: 12px;
    position: relative;
    overflow: clip;
    overflow-clip-margin: 45px;
}

.movesetFont{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: heavy;
    margin-top: 12px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.movesetContainer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.klefkiImage{
    width: 75%;
    position: absolute;
    float: right; 
    scale: .7;
    margin-top: -60px;
    margin-left: 0px;
}

.evoButtonCard{
    padding: 5px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 30px;
    width: 100px;
    border-radius: 12px;
    position: relative;
    top: 100%; 
}

.evoButtonFont{
    font-size: 14px;
    font-weight: heavy;
    margin-top: 0px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.calcCard{
    padding: 10px;
    background-color: azure;
    color: #222;
    height: 40px;
    width: 120px;
    border-radius: 12px;
    border: 3px solid black;
}

.calcFont{
    font-size: 20px;
    margin-top: -5px;
    font-weight: heavy;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.learningMoveCard{
    padding: 4px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 50px;
    width: 140px;
    border-radius: 12px;
    border: 1px solid black;
}

.learningMoveCard.active{
    padding: 0px;
    border: 5px solid red;
}

.learningMoveFont{
    font-size: 18px;
    margin-top: 3px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.checkOptionsCard{
    padding: 0px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 50px;
    width: 120px;
    border-radius: 12px;
    border: 1px solid black;
}

.checkOptionsFont{
    font-size: 19px;
    margin-top: 2px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.sketchCard{
    list-style: none;
    padding: 10px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 35px;
    width: 160px;
    border-radius: 12px;
    border: 1px solid black;
    position: relative;
    right: 20px;
    overflow: clip;
    overflow-clip-margin: 15px;
}

.sketchFont{
    margin-right: -35px;
    font-size: 20px;
    margin-top: 7px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black; 
}

.topImage{
    width: 75%;
    scale: .7;
    position: absolute;
    margin-top: -100px;
    margin-left: -140px;
}

.genSelCard{
    list-style: none;
    padding: 1px;
    background-color: rgb(201, 152, 88);
    height: 35px;
    width: 120px;
    border-radius: 12px;
}

.genSelCard.active{
    background-color: rgb(37, 119, 26);
}

.genSelFont{
    text-transform: uppercase;
    font-size: 13px;
    margin-top: .8em;
    font-weight: heavy;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

.resultsCard{
    display: grid;
    list-style: none;
    background-color: rgb(143, 134, 123);
    color: #222;
    padding: 5px;
    border-radius: 12px;
    height: calc(5px + 6vh);
    width: calc(10vw);
}

.unownQCard{
    background-color: azure;
    height: calc(10px + 8vh);
    width: calc(5vw);
    position: absolute;
    padding: 10px;
}

#wrapper{
    float: right;
    width: 200px;
}

.comboResultsCard{
    background-color: rgba(143, 134, 123, .7);
    color: #222;
    height: calc(5px + 6vh);
    width: 180px;
    padding: 0px;
    display: inline-block;
    border-radius: 12px;
}

.numResultsBlankCard{
    display: grid;
    background-color: white;
    color: white;
    height: 30px;
    padding: 1px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    clear: both;
}

.displayMonsCard{
    padding: 5px;
    color: #222;
    
    height: 80px;
    width: 80px;
    padding-inline-start: 0;
    display: inline-block;
}

.card-title{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
}

.resultsFont{
    margin-top: 1em;
    margin-left: .5em; 
    font-size: 18px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

#pokecalc{
    padding-inline-start: 0;
    display: flex;
    grid-template-columns: repeat(9, 2fr);
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin-left: 5%;
}

#selectedtypes{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    position: relative;
    left: 0px;
}

#genSelect{
    padding-inline-start: 0;
    display: flex;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    flex-wrap: wrap;
}

#results{
    padding-inline-start: 0;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    position: relative;
}

.container{
    padding: 20px;
}

.comboRowContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-left: 10%;
    width: 80%;
}

.modeContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    left: 1%;
    position: absolute;
}

.evoBSTContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    left: 15%;
}

.unownQContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    right: 10%;
}

h1{
    position: absolute;
    text-transform: uppercase;
    font-size: 64px;
    color: #ffcb05;
    text-shadow:
    0.03em 0 blue,
    0 0.03em blue,
    -0.03em 0 blue,
    0 -0.03em blue,
    -0.03em -0.03em blue,
    -0.03em 0.03em blue,
    0.03em -0.03em blue,
    0.03em 0.03em blue;
}

.card-image{
    width: 75%;
}

#brightmode{
    padding-inline-start: 0;
    display: flex;
    width: 100%;
    position: relative;
    min-width: 1100px;
}

.modeCard{
    background-color: rgb(143, 134, 123);
    color: #222;
    height: 70px;
    width: 70px;
    padding: 1px;
    border-radius: 12px;
}

.modeFont{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: heavy;
    margin-top: -5px;
}

.explainCard{
    padding: 10px;
    background-color: rgb(201, 152, 88);
    color: #222;
    height: 300px;
    width: 1000px;
    border-radius: 12px;
    margin: auto;
    position: relative;
    top: 20px;
}

.explainCardFont{
    font-size: 24px;
    color: white;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.08em 0.08em black;
}

*{
    text-align:center;
    justify-content: center;
    align-items: center;
}

